body {
    background-color:grey;
}
.Navbar{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    height:auto;
    width:auto;
    border-radius:10px;
    
}
.row {
  display: flex;
}


.column1 {
  flex: 50%;
}
.column2 {
  flex: 50%;
  color:blue;
  margin-top:50px;
}

.details{
    margin-left:40px;
}
.sub{
    margin-left:150px;
}

/*.sub h4{
    color:black;
}*/

.container{
    position:relative;
    background: white;
    border-radius:0;
    width:auto;
    height:auto;
    padding:20px;
    margin:20px;
    box-shadow: 2px 2px 0 black;
}
img{
    filter: drop-shadow(0 3px 0 black);
    margin-top:70px; 
    margin-left:190px;
    width:auto;
    height:auto;
}
        
.desig {
        
        }


a{
    text-align:center;
  text-decoration-color: black;
  color: black;
  text-decoration: none;
}